@import url("reset.css");

* {
    box-sizing: border-box;
}

body {
    margin: 2em 10%;
    font-family: monospace;
    line-height: 2;
}

p {
    margin: 1em 0;
}

textarea {
    width: 100%;
    font-family: monospace;
    padding: 1em;
}

input {
    font-family: monospace;
}
